# Public API URL used by the frontend:
NEXT_PUBLIC_API_URL=http://api.fitematch.com

# Public site URL:
NEXT_PUBLIC_SITE_URL=http://fitematch.com.br

# Application environment:
NEXT_PUBLIC_APP_ENV=production
