# Public API URL used by the frontend:
NEXT_PUBLIC_API_URL=http://18.230.166.23

# Public site URL:
NEXT_PUBLIC_SITE_URL=http://54.233.64.17

# Application environment:
NEXT_PUBLIC_APP_ENV=production
